<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <section class="vh-100" style="background-color: #301934 ;">
        <nav class="navbar navbar-light bg-#301934 text-center px-2">
            <span class="mx-auto">
                <img src="https://www.pinclipart.com/picdir/big/58-583088_skeleton-keys-png-transparent-drawing-of-key-clipart.png" style="filter: opacity(0.4) drop-shadow(0 0 0 rgb(255, 255, 255)); " width="150" height="50" alt="">
                <h2 class="mx-auto mt-3" style="font-family: 'Great Vibes', cursive; color: white">Melhos dos Vinhos</h2>
            </span>
            <form action="/signin" method="get" style="margin-top: -60px" class="px-4">
                <button type="submit" style="all: unset; cursor: pointer; color:white"> Login </button>
            </form> 
        </nav>
        <hr style="color:white; margin-top: -15px">
    </section>
</body>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    @keyframes pop {
        50%  {transform: scale(1.1);}
    }
    h2 {  
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 0.5s ease-in 0s 1 pop;

        padding: 30px;
    }

</style>
<script>
    
</script>